<template>
  <div class="{{kebabCase name}}">
    {{ name }} 组件
  </div>
</template>

<script>
export default {
  name: '{{properCase name}}',
  props: {

  },
  data () {
    return {

    }
  },
  computed: {

  },
  methods: {

  },
  mounted () {

  }
}
</script>

<style lang="scss" scoped>
.{{kebabCase name}} {
  
}
</style>

